<h1>Creating a new character:</h1>

<%= form_tag '/characters', method: :post do %>
  <div>
    <%= label_tag :character_name %>
    <%= text_field_tag :character_name %>
  </div>
  <div>
    <%= label_tag :character_class %>
    <%= text_field_tag :character_class %>
  </div>
  <%= submit_tag 'Create' %>
<% end %>