<h1>This is a specific character:</h1>

<h2>Name: <%= @user_character.character_name %></h2>
<h2>Class: <%= @user_character.character_class %></h2>
<h2>Attack: <%= @user_character.attack %></h2>
<h2>M. Attack: <%= @user_character.magic_attack %></h2>
<h2>Defense: <%= @user_character.defense %></h2>
<h2>M. Defense: <%= @user_character.magic_defense %></h2>
<h2>STR: <%= @user_character.str %></h2>
<h2>INT: <%= @user_character.int %></h2>
<h2>VIT: <%= @user_character.vit %></h2>
<h2>DEX: <%= @user_character.dex %></h2>
<h2>LUK: <%= @user_character.luk %></h2>